<div id="passcodeModal" class="modal" >
  <div class="modal-content" style="max-width: 300px;">
    <span tabindex="0" class="close" onclick="closeModal('passcodeModal')">&times;</span>
    <h2>Enter Passcode</h2>
    <p>"HELLO".length % 3</p>
    <p>Math.floor(7.8)</p>
    <p>"code".indexOf("d")</p>
    <p>10 % 7</p>
    <% if(modalId==='passcodeModal' ) { %>
      <%- include('errors')%>
    <% } %>
    <form action="/passcode" method="post">
      <input type="text" id="real-passcode" name="passcode" hidden>
      <div class="passcode-inputs">
        <input tabindex="-1" type="text" class="passcode-input" maxlength="1" readonly>
        <input tabindex="-1" type="text" class="passcode-input" maxlength="1" readonly>
        <input tabindex="-1" type="text" class="passcode-input" maxlength="1" readonly>
        <input tabindex="-1" type="text" class="passcode-input" maxlength="1" readonly>
      </div>
      <div class="keypad">
        <% [1,2,3,4,5,6,7,8,9,0].forEach(n=> { %>
          <button tabindex="0" type="button" onclick="passcodeEvent(<%= n %>)">
            <%= n %>
          </button>
        <% }) %>
      </div>
      <button id="submit-passcode" type="submit" style="display: none;"></button>
    </form>
  </div>
</div>

<div id="postModal" class="modal" tabindex="-1">
  <div class="modal-content">
    <span tabindex="0" class="close" onclick="closeModal('postModal')">&times;</span>
    <h2>New Post</h2>
    <% if(modalId==='postModal' ) { %>
      <%- include('errors')%>
    <% } %>
    <form action="/new-message" method="post">
      <label for="title">Title<span style="color: #bf0d0d;">*</span></label>
      <input oninput="checkInputLimit(this, 'title')" type="text" id="title" name="title" required>
      <p style="margin: -10px 0px 0px 0px; font-size: 0.9rem;">Max Char. 25</p>
      <label for="message">Message<span style="color: #bf0d0d;">*</span></label>
      <textarea oninput="checkInputLimit(this, 'textarea')" name="message" id="message" required></textarea>
      <p style="margin: -10px 0px 0px 0px; font-size: 0.9rem;">Max Char. 200</p>
      <button type="submit">Post</button>
    </form>
  </div>
</div>
<div id="signUpModal" class="modal">
  <div class="modal-content">
    <span tabindex="0" class="close" onclick="closeModal('signUpModal')" >&times;</span>
    <h2>Sign Up</h2>
    <% if(modalId==='signUpModal' ) { %>
      <%- include('errors')%>
    <% } %>
    <form action="/sign-up" method="post">
      <label for="first-name">First Name<span style="color: #bf0d0d;">*</span></label>
      <input type="text" id="first-name" autocomplete="given-name" name="firstName" value="<%= formData.firstName || '' %>" required>
      <label for="last-name">Last Name</label>
      <input type="text" id="last-name" autocomplete="family-name" name="lastName" value="<%= formData.lastName || '' %>">
      <label for="new-username">Username<span style="color: #bf0d0d;">*</span></label>
      <input type="text" id="new-username" autocomplete="off" name="newUsername" value="<%= formData.newUsername || '' %>" required>
      <label for="new-password">Password<span style="color: #bf0d0d;">*</span></label>
      <input oninput="checkInputLimit(this, 'password')" type="password" id="new-password" autocomplete="new-password" name="newPassword" required>
      <p style="margin: -10px 0px 0px 0px; font-size: 0.9rem;">Min Char. 6</p>
      <label for="password-confirmation">Confirm Password<span style="color: #bf0d0d;">*</span></label>
      <input type="password" id="password-confirmation" autocomplete="new-password" name="passwordConfirmation" required>
      <button type="submit">Sign Up</button>
    </form>
  </div>
</div>
<div id="logInModal" class="modal">
  <div class="modal-content">
    <span tabindex="0" class="close" onclick="closeModal('logInModal')">&times;</span>
    <h2>Log In</h2>
    <% if(modalId==='logInModal' ) { %>
      <%- include('errors')%>
    <% } %>
    <form action="/log-in" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" autocomplete="username" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" autocomplete="current-password" required>
      <button type="submit">Log In</button>
    </form>
  </div>
</div>
<div id="logOutModal" class="modal">
  <div class="modal-content">
    <span tabindex="0" class="close" onclick="closeModal('logOutModal')">&times;</span>
    <h2>Log Out</h2>
    <form action="/log-out" method="get">
      <p style="margin: 0;">Are you sure you want to leave?</p>
      <button type="submit">Yes</button>
      <button type="button" onclick="closeModal('logOutModal')">No</button>
    </form>
  </div>
</div>
<% if(modalId !== '') { %>
  <script>
    window.onload = (e) => openModal('<%= modalId %>');
  </script>
<% } %>