<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/modals.css">
  <title>M</title>
</head>
  <%- include('nav')%>
  <main class="posts">
    <% if (!currentUser) { %>
      <div style="background-color: #173B56; margin-top: -20px;" class="errors">
        <img class="icon" src="/img/error-16-svgrepo-com.svg" alt="error">
        <p style="margin:5px 0px;">
          <span tabindex="0" style="text-decoration: underline; cursor: pointer;" onkeydown="if (event.code === 'Enter' ) openModal('passcodeModal')" onclick="openModal('signUpModal')">Sign up</span> or
          <span tabindex="0" style="cursor: pointer; text-decoration: underline;" onkeydown="if (event.code === 'Enter' ) openModal('passcodeModal')" onclick="openModal('logInModal')">log in</span> to start posting.</p>
      </div>
    <% } else if (currentUser.status==='guest') { %>
      <div style="background-color: #173B56; margin-top: -20px;" class="errors">
        <img class="icon" src="/img/error-16-svgrepo-com.svg" alt="error">
        <p style="margin:5px 0px;">
          <span tabindex="0" style="text-decoration: underline; cursor: pointer;" onkeydown="if (event.code === 'Enter' ) openModal('passcodeModal')"  onclick="openModal('passcodeModal')">Join the club</span>
           to view authors and timestampts of posts.
        </p>
      </div>
    <% } %>
    <ul>
    <% posts.forEach(content => { %>
      <li>
        <div class="post-header">
          <h2><%= content.title %></h2>
            <% if( currentUser && currentUser.status === 'admin') { %>
              <form action="/delete/<%= content.id %>" method="post">
                <button class="delete-btn" type="submit"><img class="trash-can" src="/img/trash-xmark-svgrepo-com.svg" alt="trash can"></button>
              </form>
            <% } %>
          
        </div>
        <div class="profile-time">
        <% if (!currentUser || currentUser.status === 'guest') { %>
          <div class="profile-user">
            <img class="icon" src="/img/user-alt-1-svgrepo-com.svg" alt="user">
            <p>???</p>
          </div>
          <p class="timestamp"><img class="icon" src="/img/time-svgrepo-com.svg" alt="time">???</p>
        <% } else { %>
          <a style="text-decoration: none; color: inherit;" href="/profile/<%= content.author_id %>">
            <div class="profile-user">
              <img class="icon" src="/img/user-alt-1-svgrepo-com.svg" alt="user">
              <p><%= content.author_username %></p>
            </div>
          </a>
          <p class="timestamp"><img class="icon" src="/img/time-svgrepo-com.svg" alt="time"> <%= dayjs(content.date).fromNow() %></p>
        <%} %>
        </div>
        <p><%= content.message %></p>
      </li>
    <% }) %>
    </ul>
    
  </main>
  <%- include('modals') %>
  <script src="/js/modal.js"></script>
</body>
</html>