<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/modals.css">
  <link rel="stylesheet" href="/css/profile.css">
  <title><%= user.username %></title>
</head>
<body>
  <%- include('nav')%>
  <main>
    <a href="/posts"><span style="font-size: 1.3rem;"><</span> Back</a>
      <h1><%= user.username %></h1>
    <div class="user-status">
      <h2><%= user.first_name %> <%= user.last_name %></h2>
      <h2 class="status"><%= user.status %></h2>
    </div>
    <div class="posts">
      <ul>
      <% if (posts) { %>
        <% posts.forEach(content => { %>
          <li>
            <div class="post-header">
              <h2><%= content.title %></h2>
              <% if(currentUser.id === content.author_id) { %>
                <form action="/delete/<%= content.id %>" method="post">
                  <button type="submit"><img class="trash-can" src="/img/trash-xmark-svgrepo-com.svg" alt="trash can"></button>
                </form>
              <% } %>
            </div>
            <div class="profile-time">
              <div class="profile-user">
                <img class="icon" src="/img/user-alt-1-svgrepo-com.svg" alt="user">
                <p><%= content.author_username %></p>
              </div>
              <p class="timestamp"><img class="icon" src="/img/time-svgrepo-com.svg" alt="time">
                <%= dayjs(content.date).fromNow() %>
              </p>
            </div>
            <p><%= content.message %></p>
          </li>
        <% }) %>
      <% } else { %>
        <li>
          <h2>No posts yet</h2>
          <p>Create one <span onclick="openModal('messageModal')">now</span>!</p>
        </li>
      <% } %>
    </ul>
    </div>
   
  </main>
  <%- include('modals') %>
  <script src="/js/modal.js"></script>
</body>
</html>